@import '../../styles/_variables.scss';
.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: $white;
  border: 1px solid $primary;
  cursor: pointer;

  display: flex;

  div {
    background: $primary;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: auto;
    font-size: 14px;
    font-weight: 500;
  }
}
